// ======== Config général ========

$colorBody: rgb(01, 17, 24);
$colorText: rgb(255, 255, 255);
$colorfooter: rgb(43, 205, 219);

/* mina-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mina';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/mina-v11-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@mixin box {
    border: 2px solid $colorfooter;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
}

@mixin grid($responsive) {
    display: grid;
    gap: 15px;
    margin-top: 15px;

    >div {
        @include box();
    }

    >figure {
        @include box();
        padding: 0;
        overflow-y: hidden;
        position: relative;

        >img {
            width: 100%;
            height: auto; // Réinitialise la hauteur pour conserver les proportions
            display: block;
        }
    }

    @media screen and (min-width:$responsive) {
        grid-template-columns: auto auto;
        align-items: center
    }
}

@mixin form {

    input,
    textarea,
    select {
        font-family: 'Mina';
        background-color: $colorBody;
        color: $colorText;
        width: 100%;
        margin: 5px 0;
        box-sizing: border-box;
        @include box();

        &::placeholder {
            color: $colorText;
            font-family: 'Mina';
        }
    }

    input[type="submit"]:hover {
        background-color: $colorfooter;
    }

    input[type="checkbox"] {
        width: 20px;
    }

    input[type="submit"] {
        max-width: 100px;
    }
}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Mina';
    background-color: $colorBody;
    color: $colorText;
}

// Les titres
h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3rem;
    margin: 0 auto;
    margin-bottom: 15px;

    >span {
        color: $colorfooter;
    }

    &:not(.exclude) {
        @include box();

        @media screen and (min-width:768px) {
            width: 50%;
        }
    }
}

// Les listes et liens
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $colorText;

    >span {
        color: $colorfooter;

        &:hover {
            opacity: 0.8;
        }
    }
}

// Paragraphe
p {
    overflow-y: auto;
    /* Permettre le défilement vertical */
    scrollbar-width: none;
    /* Masquer la scrollbar native (Firefox) */
    -ms-overflow-style: none;
    /* Masquer la scrollbar native (IE/Edge) */
}

// Boutton
button{
    @include box();
    margin-top: 10px;
    background-color: $colorBody;
    color: $colorText;
    &:hover{
        background-color: $colorfooter;
    }
}

// Style des classes de base du site
.container {
    padding: 15px;
    margin: 0 auto;
    max-width: 1400px;
}

.alert {
    margin: 0 auto;
    text-align: center;
    width: 75%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 15px;

    &.error {
        background-color: red;
    }

    &.success {
        background-color: green;
    }
}

.disabled {
    display: none;
}

.errorForm {
    color: red;
}

.intro {
    @include box();
    >a{
        color: $colorfooter;
        &:hover{
            color: $colorfooter;
            cursor: pointer;
        }
    }
}

// **************************************** Style views Commmon ****************************************

// ======== Header ========
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    padding-bottom: 10px;
}

.logoHeader {
    width: 120px;
    margin: 10px 0;
}

.mainMenu {
    display: flex;
    justify-content: center
}

#burger i {
    font-size: 2rem;
    color: $colorfooter;
    overflow: hidden;
}

.mainMenu ul {
    display: none;
    justify-content: space-around;
    @include box();
}

.mainMenu ul.on {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 200px;
    height: 250px;
    margin-top: 10px;
    position: absolute;
    z-index: 1000;
    background-color: $colorBody;
    opacity: 0.85;
}

.mainMenu ul li {
    text-align: center;
}

.mainMenu ul li a {
    font-size: 1.3rem;
}

.mainMenu ul li a:hover,
.mainMenu ul li a.active {
    color: $colorfooter;
}

hr {
    width: 100%;
    border: 1px solid $colorfooter;
}

// Responsive header
@media screen and (min-width:768px) {
    .logoHeader {
        width: 150px;
    }

    #burger {
        display: none;
    }

    .mainMenu {
        width: 70%;
    }

    .mainMenu ul {
        display: flex;
        width: 100%;
    }
}

// ======== Footer ========

footer {
    position: relative;

    >hr {
        height: 60px;
        border: none;
    }

    >figure a {
        border: none;
    }
}

.footer {
    position: relative;
    background-color: $colorfooter;
    z-index: 1;
}

.footer h3 {
    margin-bottom: 15px;
}

#logoFooter {
    width: 100px;
    position: absolute;
    bottom: 60%;
    /* Positionnez le logo au-dessus de la div footer */
    left: 50%;
    /* Centrez horizontalement le logo */
    transform: translateX(-50%);
    /* Déplacez le logo de moitié de sa propre largeur vers la gauche pour le centrer */
    z-index: 2;
}

.articleFooter {
    display: flex;
    justify-content: space-between;
}

.address {
    display: none;
}

.networks {
    display: flex;
    flex-direction: column;
    align-items: center;

    >a i {
        font-size: 2rem;
        overflow-y: hidden;
    }
}

.links {
    display: flex;
    flex-direction: column;
    text-align: end;
}

.copyright {
    background-color: $colorText;
    color: $colorBody;
    text-align: center;
    padding: 10px 0;
}

// Responsive footer
@media screen and (min-width:768px) {
    #logoFooter {
        bottom: 65%;
    }
    .articleFooter {
        margin-top: 30px;
    }

    .address {
        display: block;
    }

    .networks {
        margin-left: 50px;
    }
}


// ======== Page 404 ========

article.error404 {
    @include grid(768px);
    >div {
        >h3 {
            margin: 10px 0;
        }

        >ul li a {
            color: $colorfooter;
        }

        >p:last-child {
            margin-top: 10px;
        }
    }
}

@media screen and (min-width: 1200px) {
    article.error404 {
        div{
            width: 900px;
        }
    }
}

// **************************************** Style views Front Office ****************************************

// ======== Page accueil ========

#slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    @include box();
    padding: 0;
}

.slide {
    max-height: 350px;
    width: 100%;
    overflow: hidden;

    >img {
        width: 100%;
        height: 100%;
    }
}

.about {
    @include grid(992px);
}

// ======== Page prestation ========

.sliderService {
    position: relative;
    overflow: hidden;
    margin-top: 15px;

    >article {
        @include box();

        &:hover {
            background-color: $colorfooter;
            cursor: pointer;
        }

        >h2 {
            text-align: center;
        }
    }

    >button {
        position: absolute;
        top: 30%;
        transform: translateY(-50%);
        background: transparent;
        color: $colorText;
        border: none;
        font-size: 25px;
    }
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

@media screen and (min-width: 768px) {
    .sliderService {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
}

// ======== Page avis ========

/* Styles de base pour le carrousel */
.center {
    display: flex;
    overflow-x: hidden;
    margin: 15px 0;
}

.item {
    flex: 0 0 auto;
    width: 100%;
    @include box();

    >p {
        @include box();

        &.textComment {
            height: 300px;
            margin-bottom: 10px;
        }
    }
}

.serviceComments {
    margin-top: 10px;
}

.star {
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
}

.filled {
    color: gold;
}

.rating {
    display: inline-block;
    @include box();
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.titleSendComment {
    @include box();
    text-align: center;
    width: 50%;
    margin: 15px auto;

    >span {
        color: $colorfooter;
    }

}

.addComments {
    form {
        @include form();
    }
}

.sendComment {
    figure {
        display: none;
    }
}

/* Media queries pour ajuster le nombre d'avis affichés en fonction de la largeur de l'écran */
@media screen and (min-width: 768px) {
    .item {
        margin: 0 10px;
        /* Afficher jusqu'à 2 avis par ligne pour les écrans moyens */
        width: calc(50% - 20px);
    }

    .sendComment {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        gap: 15px;

        >figure {
            display: block;
            @include box();
            padding: 0;
            overflow-y: hidden;
            position: relative;

            >img {
                width: 100%;
                height: auto; // Réinitialise la hauteur pour conserver les proportions
                display: block;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .item {
        /* Afficher jusqu'à 3 avis par ligne pour les écrans larges */
        width: calc(33.33% - 20px);
    }
}

// ======== Page contact ========

#contact {
    @include grid(768px);

    >form {
        @include form();
    }

    >iframe {
        width: 100%;
        height: 300px;
        @include box();
        padding: 0;
    }
}

@media screen and (min-width: 768px) {
    #contact {
        >iframe {
            height: 100%;
            width: 350px;
        }
    }
}

@media screen and (min-width: 992px) {
    #contact {
        >iframe {
            width: 500px;
        }
    }
}

@media screen and (min-width: 1200px) {
    #contact {
        >iframe {
            width: 600px;
        }
    }
}

// ======== Page connexion ========

#connection {
    @include grid(768px);

    >form {
        @include form();

        >div {
            display: flex;

            >input[type="submit"] {
                margin-right: 10px;
            }
        }
    }
    >figure{
        display: none;
    }
}

@media screen and (min-width: 768px) {
    #connection {
        >form {
            width: 500px;
        }
        >figure {
            display: block;
        }
    }
}

@media screen and (min-width: 992px) {
    #connection {
        >form {
            width: 650px;
        }
    }
}

@media screen and (min-width: 1200px) {
    #connection {
        >form {
            width: 800px;
        }
    }
}

// ======== Page inscription ========

#register {
    margin-top: 15px;
}

#register form {
    @include form();
}

@media screen and (min-width: 768px) {
    #register form div.formRegister{
        display: grid;
        grid-template-columns: auto auto;
        gap: 15px;
        >div input{
            margin: 0;
        }
        >div p{
            margin: 5px;
        }
    }
}

// ======== Page mentions légale et politique de confidentialité ========

.legalNotice,
.privacyPolice {
    >div {
        @include box();

        >h3 {
            margin: 10px 0;
            color: $colorfooter;
        }

        >ul {
            margin: 5px;
        }
    }
}

// **************************************** Style des différentes pages du Back Office ****************************************

// ======== Page accueil admin ========

.homeAdmin {
    @include grid(798px);
}

@media screen and (min-width: 992px) {
    .homeAdmin div{
        width: 700px;
    }
}

@media screen and (min-width: 1200px) {
    .homeAdmin div{
        width: 900px;
    }
}

// ======== Page Tableau de bord ========

.dashboard {
    @include grid(768px);

    >article {
        @include box();

        >#contactTable {
            text-align: center;
        }

        >h2 {
            text-align: center;
        }

        >p span {
            color: $colorfooter;
        }
    }
}

// ======== Page gestion des produits et prestation ========

.managerForm {
    @include grid(768px);

    >article {
        @include box();

        >h2 {
            text-align: center;
            margin-bottom: 10px;
            ;
        }
        >form{
            @include form();
            >input[type="checkbox"]{
                margin-right: 5px;
                margin-left: 10px;
            }
        }
    }
}

// ======== Page gestion des produits et prestation ========

.adminComment{
    >input{
        @include box();
        margin-top: 10px;
        background-color: $colorBody;
        color: $colorText;
        &:hover{
            background-color: $colorfooter;
        }
    }
}